# Python Virtual Environments
venv/
backend/venv/
__pycache__/
*.pyc

# Security Keys
.env
*.env

# Node / React Modules & Builds
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# System Files
.DS_Store